<!-- app/views/errors/404.html.erb -->
<div class="error-404">
  <div class="error-icon"><%= image_tag 'error-icon.svg' %></div>
  <p>Page Not Found</p>
  <p>指定されたページまたはファイルが見つかりませんでした。</p>
  <a href="/">戻る</a>
</div>

<style>
  .error-404 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .error-404 .error-icon {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .error-404 p {
    font-size: 1.5em; /* サイズを少し大きく調整 */
    margin-bottom: 1em; /* 見た目の調整 */
    color: gray;
  }

  .error-404 a {
    color: #007bff;
    text-decoration: none;
  }

  @media only screen and (max-width: 425px) {
    .error-404 {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .error-404 .error-icon {
      position: relative;
      width: 100px;
      height: 100px;
      left: 50%;
      transform: translateX(-50%);
    }

    .error-404 p {
      font-size: medium;
      margin-bottom: 1em; /* 見た目の調整 */
      color: gray;
    }

    .error-404 a {
      color: #007bff;
      text-decoration: none;
      font-size: medium;
    }
  }
</style>