<!-- app/views/errors/500.html.erb -->
<div class="error-500">
  <h1>500</h1>
  <p>Internal Server Error</p>
  <p>サーバー内部でエラーが発生しました。しばらくしてから再度お試しください。</p>
  <a href="/">ホームページへ戻る</a>
</div>

<style>
  .error-500 {
    text-align: center;
  }

  .error-500 h1 {
    font-size: 8em; /* サイズを大きく調整 */
    color: #333;
    margin-bottom: 0.5em; /* 見た目の調整 */
  }

  .error-500 p {
    font-size: 1.5em; /* サイズを少し大きく調整 */
    margin-bottom: 1em; /* 見た目の調整 */
    color: gray;
  }

  .error-500 a {
    color: #007bff;
    text-decoration: none;
  }
</style>