<div class="modal fade ad-modal-2" id="ad-modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body ad2-modal-body p-0">
        <button type="button" class="btn-close ad-modal-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 20px; right: 20px;"></button>
        <div class="ad-2-content">
          <p>私たちは、宿題カメラを通じて、<strong>「目的化された宿題」に対する疑問や気づきを得る可能性を、人々の生活に存在させたいと考えています。</strong><br><br>その挑戦を支えるスポンサーを募集しています。<br>興味のある方は、広告プランの詳細についてお問い合わせください。</p>

          <p><strong>学校教育を手段の一つとして捉える人が増える。<br>その現象を、我々と共に起こしましょう。</strong></p>

          <p><strong>連絡先：</strong><br>
          ・メールアドレス: [email@example.com]<br>
          ・電話番号: [000-0000-0000]</p>

          <p>ご連絡お待ちしております。</p>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
.ad2-modal-body {
  background-color: #F3F6FF;
}

.ad-2-content {
  position: relative;
  text-align: center;
  margin: 5%;
  top: 50%;
  transform: translateY(-50%);
}
</style>