<div class="modal fade ad-modal-2" id="ad-modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body ad2-modal-body p-0">
        <button type="button" class="btn-close ad-modal-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 20px; right: 20px;"></button>
        <div class="ad-2-content">
          <p>当アプリでは、私たちのビジョンに共感し、アプリの成長と拡大をサポートしてくださるスポンサーを心から歓迎します。<br>私たちの目指すは、宿題カメラを人の生活の選択肢に加えることで、<strong>「目的化された宿題」に疑いや気づきを得る人を増やすことです。</strong>そこに貴社の応援が、我々の挑戦の歯車を動かし続ける原動力になると信じています。</p>

          <p>具体的な広告プランにつきましては、お問い合わせにてご案内する予定です。</p>

          <p>もしご興味をお持ちいただけましたら、以下の連絡先までご連絡ください。私たちと共に、<strong>世の中の人が学校教育を手段の一つとして見ることができる世界</strong>を実現しましょう。</p>

          <p><strong>連絡先：</strong><br>
          ・メールアドレス: [email@example.com]<br>
          ・電話番号: [000-0000-0000]</p>

          <p>お問い合わせを心よりお待ちしております。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.ad2-modal-body {
  background-color: #F3F6FF;
}

.ad-2-content {
  position: relative;
  text-align: center;
  margin: 5%;
  top: 50%;
  transform: translateY(-50%);
}
</style>